

<div>
    <legend>Add new Course</legend>
    <div class="form-group">
        <label for="name">Enter Name</label>
        <input type="text" class="form-control" #courseName placeholder="name">
    </div>
    
    <div>
        <button class="btn btn-primary" (click)="addCourse(courseName.value)">Add Course</button>
    
    </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-3" *ngFor="let courses of coursesList" (click)="CourseClicked(courses.id)" >
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;"  >
          <div class="card-header">Course Name</div>
          <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text">{{courses.name}}</p>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div>
  <ul>
    <li *ngFor="let courses of coursesList">{{courses.name}}</li>
  </ul>
</div> -->
